@import "tailwindcss";

:root {
  /* Colores Corporativos de RECAL Global */
  --recal-blue: #145184;
  --recal-blue-hover: #0f3d63; /* Un tono ligeramente más oscuro para los botones al pasar el mouse */
  --recal-gray: #f5f5f5;
}

body {
  background-color: var(--recal-gray);
}
